* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* khoi phuc lai co chu mac dinh */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}
/*------------------------common----------------------- */
a {
  text-decoration: none;
}
.header{
  background-color: #FFFCF4;
  top: -28px;
}
.header.fixed{
  position:sticky;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
    position: relative;
  color: #5f5b53;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  letter-spacing: 0%;
  /* background-color: blue; */
  padding: 8px 21px;
  transition: 1s border-bottom;
}
.nav a::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #171100;
    position: absolute;
    left: 21px;
    bottom: 6px;
    border-radius: 1px;
    transition: 0.5s width;
}
.nav a:hover::after{
    width: 60px;
}
.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.btn{
  min-width: 118px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 24.5px;
    padding:0px 16px;
    color: white;
    background-color: #171100;
}
.header .btn-sign-up{
  min-width: 144px;
}
.header .action{
  margin-left: 49px;
}