* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root{
  --font-Sen:var("Sen", sans-serif);
  --font-Pop:var("Poppins", sans-serif);
}
/* khoi phuc lai co chu mac dinh */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}
/*------------------------common----------------------- */
a {
  text-decoration: none;
}
.header {
  background-color: #fffcf4;
  top: -28px;
}
.header.fixed {
  position: sticky;
  z-index: 999;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  letter-spacing: 0%;
  /* background-color: blue; */
  padding: 8px 21px;
  transition: 1s border-bottom;
}
.nav a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
  border-radius: 1px;
  transition: 0.5s width;
}
.nav a:hover::after {
  width: 60px;
}
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.btn {
  min-width: 118px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 24.5px;
  padding: 0px 16px;
  color: white;
  background-color: #171100;
}
.btn:hover{
  opacity: 0.5;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero_sumary .item {
  display: flex;
  align-items: center;
  width: 183;
  height: 56;
}
.hero .hero_sumary .item + .item{
  margin-top: 22px;
}
.hero_sumary .item .info {
  margin-left: 16px;
}
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero_sumary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  left: 300px;
  bottom: 48px;
  background: #ffffff;
  box-shadow: 0 16px 32px #0000000d;
  width: 270px;
  border-radius: 12px;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 24px;
}
.hero_sumary .number_course {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0%;
}
.hero .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.666666666666667;
}
.hero .content-block {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 64px;
  padding-left: 30px;
}
.hero .content-block .heading {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 58px;
  line-height: 1.17;
  letter-spacing: -2%;
}
.hero .content-block .desc {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  color: #5F5B53;
}

.hero .cta-group .btn {
  background-color: #ffb900;
  font-size: 18px;
  width: 180px;
  line-height: 64px;
  border-radius: 32px;
  margin-right: 28px;
}
.hero .content-block .watch-video {
  display: flex;
  align-items: center;
  border:none ;
  background-color: #fffcf4;
  cursor: pointer;
}
.hero .content-block .watch-video .icon {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  margin-right: 14px;
  box-shadow: 0 16px 32px #0000000d;
}
.hero .content-block .watch-video span{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6667;
}
.hero .media-block .img {
  border-radius: 20px;
  width: 470px;
  height: 685px;
  object-fit: cover;
}
.hero .cta-group {
  display: flex;
  align-items: center;
}
.hero .hero_sumary .icon{
  display: flex;
  align-items: center;
}
.hero .content-block .desc strong {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 15px;
  color:#171100;
}
.hero .stats strong:nth-child(2){
  margin-left: 28px;
}
.hero .stats{
  margin-top: -63px;
}